li, a, button{
    list-style: none;
    font-weight: 400;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: #54f0be;
    height:10%;
}



.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li :hover{
    color: rgb(11, 151, 151);
    font-weight: bold;
    /* text-decoration: underline; */
}





button{
    padding: 9px 25px;
    background-color: rgb(0, 1, 1);
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0, 1, 1, 0.834);
}

.logo{
    cursor: pointer;
    border-radius: 0;
    background-color: #54f0be;
    color: black;
}


.logo:hover{
    background-color: rgba(0, 1, 1, 0.434);
}